
<div dir="rtl" class = "topnav" id = "myTopnav">

  <ul>
     <img id="imagelogo" src="../../assets/images/auroraLogoNew.PNG" alt="לוגו"> 
    <li><a [routerLink]="['/']">דף הבית</a></li>
    <li><a [routerLink]="['/login']">התחבר</a></li>
    <li><a [routerLink]="['/meetingsCoordinatation']">תיאום פגישות</a></li>
    <li><a [routerLink]="['/serviceCalls']">קריאות שירות</a></li>
    <li><a [routerLink]="['/ordersAndPaymentsComponent']">הזמנות ותשלומים</a></li>
    <li><a [routerLink]="['/contract']">חוזים</a></li>
    <li><a [routerLink]="['/information']">מידע</a></li>

  </ul>
</div>


<router-outlet></router-outlet>
