     <h1>register</h1>
     <form   >
    <div class="login-box">

     <div class="row">
      <div class="col-md-3"><a [routerLink]="['/login']"> <h1>Login</h1></a></div>
     <div class="re col-md-3 ml-0"><a [routerLink]="['/register']" > <h1>Register</h1></a></div>
    </div>
     <div class="textbox">
       <i class="fa fa-user" aria-hidden="true"></i>
       <input  type="text"  placeholder="UserName" name="22" value=""> 
     </div>
     <div class="textbox">
       <i class="fa fa-lock" aria-hidden="true"></i>
       <input  type="password"  placeholder="Password" name="ju" value=""> 
     </div>
     <div class="textbox">
        <i class="fa fa-lock" aria-hidden="true"></i>
        <input  type="password"  placeholder="Password again" name="ju" value=""> 
      </div>
     <button class="btn" type="submit" name=""  value="Sign In" >Register</button>
     <form   >
       <button class="btn" type="submit" name=""  value="logOut">logOut</button>
       </form>
   </div>
     </form>
   
   
   <router-outlet></router-outlet>
   